body, html { padding:0; margin:0; }

.body a {
    display:block;
    height:50px;
    background: #fff url(resource-image://images/logo.png) center center no-repeat;
    background-size: 45%;
    outline: none;
    margin-top: 15px;
    margin-bottom: 15px;
}
.body a span {
    display:none;
}
#hostname {
    width: 184px;
    display: block;
    height: 22px;
    font-size: 14px;
    padding: 2px 6px;
    box-sizing: content-box;
    margin-bottom: 10px;
}

.form {
    background-color: #e1eef3;
    padding: 10px 5px;
}

button, button:visited, button:active {
    width:100%;
    border:0;
    outline:none;
    display: block;
    text-align: center;
    background: #02baf2;
    padding: 0.7em;
    color: #fff;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    font-weight: 900;
    -webkit-transition: all .25s;
    font-family: Sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
button:hover {
    background:#29CDFF;
    color:#fff;
}

label {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 10px;
    padding-bottom: 5px;
    display: block;
    font-weight: 600;
    color: #61747B;
}

