@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);

/*
* 	Reset Global Styles | .aero-tip
*/
.aero-app span {
	font-weight:normal;
}

::-moz-selection { /* Code for Firefox */
    color: #000;
    background: #CCC!important
}

::selection {
    color: #000;
    background: #CCC!important
}

[class^="aero"], [class^="aero"] a, [class^="aero"] p {
	font-family:'Source Sans Pro';
	outline:none;
	border:0;
	font-size:14px;
	line-height:18px;
	padding:0;
	margin:0;
	font-weight:400;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: inherit!important;
	text-decoration:none;
	font-style: normal;
}

.aero-app input[type=checkbox] {
	display:block;
	position:static;
	-webkit-appearance: checkbox;
}

.aero-app form label {
	font-family:'Source Sans Pro';
	font-style: normal;
}

.aero-sidebar * {
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: inherit;
}
.aero-carousel a, .aero-carousel img {
	-moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

[class^="aero"] a {
	cursor:pointer;
}
[class^="aero"] a:hover {
	text-decoration:none;
}

.clearfix:after {
   content:" ";
   visibility:hidden;
   display:block;
   height:0;
   clear:both;
}

/*
*	Helpers | .aero-helper-x
*/
li.aero-helper-dropable {
	 display:block;
	 background:#1B252E!important;
	 padding:25px!important;
}

.aero-helper {
	background: #FCE087;
	margin: 15px;
	padding: 15px;
	position:relative;
	font-size:16px;
	line-height:18px;
	color: #333;
}
.aero-help-triangle {
	position:absolute;
	top:-15px;
	left:5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 14px 15px 14px;
	border-color: transparent transparent #FCE087 transparent;
	 -moz-transform: scale(.9999);
}
.aero-sidebar .aero-helper-empty, .aero-sidebar .aero-helper-results {
	color:#fff;
	text-align:center;
	padding-top:15px;
}
.aero-sidebar .aero-helper-results span {
	color:#FF7272;
}
.aero-helper-empty { color:#A4A9B1; }

/*
* 	Sidebar | .aero-sidebar
*/
.aero-sidebar, .aero-admin-wrapper {
	position:fixed;
	height:100%;
	width:310px;
	top:0;
	right:-310px;
	z-index:2147483647;
}
.aero-sidebar.open {
	right:-50px;
}

.aero-sidebar .aero-head, .aero-sidebar .aero-body, .aero-sidebar .aero-foot {
	padding-right:50px;
}

.aero-guides, .aero-steps { padding-right:0!important; overflow-x: hidden; overflow-y:scroll; }
.aero-sidebar, .aero-steps li {
	background:#25303f;
}
.aero-steps li a span:first-child {
	  font-size: 9px;
	  border: 1px solid #425366;
	  margin-right: 10px;
	  border-radius: 50px;
	  background: #25303f;
	  width: 20px;
	  height: 20px;
	  float: left;
	  line-height: 12px;
	  text-align: center;
	  padding-top: 3px;
}
.aero-steps li a span:last-child {
	display:inherit;
	padding-left:30px;
}

/*
* 	Sidebar Footer | .aero-foot
*/
.aero-sidebar .aero-foot { position:absolute; bottom:0; right:-50px; border-right:50px solid #0599c3; }
.aero-sidebar .aero-foot .aero-stop { text-transform:uppercase; z-index: 999999999; padding:0!important; display:block!important; width:260px; }
.aero-sidebar .aero-foot .aero-stop span { display:block; padding:25px 10px; }

/**
* 	Buttons | .aero-btn-x
*/
[class^="aero-btn"] {
	font-weight:400!important;
	text-align:center!important;
	padding:10px;
	display:inline-block!important;
	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s;
}
.aero-section [class^="aero-btn"] {
	padding:10px!important;
	text-transform: uppercase;
}
.aero-btn-red {
	background: #DB5052;
	color:#fff;
}
.aero-btn-red:hover {
	background:#c64c46;
	color:#fff!important;
}

.aero-btn-green {
	background: #5bb56e;
	color:#fff;
}
.aero-btn-green:hover {
	background:#39B052;
	color:#fff!important;
}

.aero-btn-yellow {
	background: #fbd764;
	color:#fff;
}
.aero-btn-yellow:hover {
	background:#fbd764;
	color:#fff!important;
}

.aero-btn-blue {
	background: #0599c3;
	color:#fff;
}
.aero-btn-blue:hover {
	background:#02445c;
	color:#fff!important;
}

.aero-btn-grey {
	background:#DFDFDF;
	color:#333;
}
.aero-btn-grey:hover {
	background:#ccc;
	color:#333!Important;
}

/*
* 	Guide & step listing | .aero-guides, .aero-steps
*/
.aero-sidebar .aero-body {
	border-top:1px solid #333e4b;
}

.aero-sidebar .aero-guides ul, .aero-sidebar .aero-guides ul li, .aero-sidebar .aero-guides ul li a, .aero-sidebar .aero-steps ul, .aero-sidebar .aero-steps ul li, .aero-sidebar .aero-steps ul li a {
	list-style:none;
	margin:0;
	padding:0;
}
.aero-sidebar .aero-guides ul { margin-bottom: 40px; }
.aero-sidebar .aero-guides ul li, .aero-sidebar .aero-steps ul li {
	margin:0 15px;
	position:relative;
}
.aero-sidebar .aero-guides ul li > a, .aero-sidebar .aero-steps ul li > a {
	display:block;
	color:#939497;
	padding:15px 10px;
	border-bottom:1px solid #333e4b;
	text-align:left;
}
.aero-sidebar .aero-guides li:last-child a, .aero-sidebar .aero-steps li:last-child a {
	border-bottom:0;
}

.aero-sidebar .aero-guides ul li > a:hover, .aero-sidebar .aero-steps ul li > a:hover {
	color:#B2B6BB;
}

.aero-sidebar .aero-complete {
    border-left: 10px solid rgb(85, 218, 153);
    margin-left: 0!important;
    padding-left: 5px!important;
    margin-bottom: 1px!important;
}

.aero-sidebar .aero-steps ul li > a { border-bottom:0!important; }
.aero-sidebar .aero-steps ul li {
	background-image:url(../images/line.png)!important;
	background-repeat:no-repeat!important;
	background-position:19px 0;
}
.aero-sidebar .aero-steps ul li:last-child { background-position:19px -55px; }
.aero-sidebar .aero-steps ul li:first-child { background-position:19px 25px; }

/*
* 	Search | .aero-search
*/
.aero-sidebar .aero-search a {
	position:absolute;
	z-index:9;
	color:#a0a2a2;
	right:8px;
	top:1px;
	display:block;
}
.aero-sidebar .aero-search i {
	color:#a0a2a2;
	line-height: 1.3em;
}
.aero-sidebar .aero-search {
	background:#3a4450;
	margin:10px 18px;
	padding:3px 8px;
	position:relative;
}
.aero-sidebar .aero-search input {
	background:none!important;
	border:0!important;
	font-size:12px!important;
	outline: none!important;
	color:#a0a2a2!important;
	font-weight:400!important;
	font-family:'Source Sans Pro'!important;
	padding:0!important;
	margin:0!important;
	display:block!important;
	text-align:left!important;
	box-shadow: none!important;
	width:auto!important;
	height:auto!important;
}
.aero-sidebar .aero-search.aero-active input, .aero-sidebar .aero-search.aero-active i {
	color:#fff!important;
}

/*
* 	Step listing | .aero-steps
*/
.aero-sidebar .aero-guide-title, .aero-sidebar .aero-helper-results {
	padding:15px 25px;
	background:#1B252E;
	color:#fff;
	border-bottom:1px solid #323C49;
}

.aero-sidebar .aero-guide-title {
	font-size:1.2em;
	background:inherit;
	padding:20px 20px 20px 30px;
}
.aero-guide-title span {
	display:block;
	color:#939497;
	padding-top:0.5em;
	padding-bottom:0.3em;
	line-height:13px;
	font-size:12px;
}
.aero-guide-title a {
	line-height:12px;
	font-size:11px;
	color:#FCE087;
}
.aero-guide-title a:hover {
	color:#FFC91C;
}
.aero-guide-title a i {
	margin-right:2px;
}
.aero-sidebar .aero-steps li.aero-active > a, .aero-sidebar .aero-steps li.aero-active > a:hover {
	color:#DFDFDF!important;
}
.aero-sidebar .aero-steps li.aero-missing > a, .aero-sidebar .aero-steps li.aero-missing > a:hover {
    color: #394657;
}
.aero-sidebar .aero-steps li.aero-forward > a, .aero-sidebar .aero-steps li.aero-forward > a:hover {
	color: #0599c3;
}

.aero-sidebar .aero-steps li.aero-active > a span:first-child, .aero-sidebar .aero-steps li.aero-active > a:hover span:first-child,
.aero-sidebar .aero-steps li.aero-editing > a span:first-child, .aero-sidebar .aero-steps li.aero-editing > a:hover span:first-child {
	border:1px solid #f16a5c;
}

.aero-sidebar .aero-steps ul {
	padding-top:10px;
	padding-bottom:10px;
}
.aero-sidebar .aero-steps ul a {
	display:block;
	margin:0;
	padding:15px 15px;
}

#aero-tab {
	position:absolute!important;
	top: 124px;
	left:-44px;
	text-align:center;
	background:#DB5052;
	z-index:9999999;
    border-radius: 9px 0 0 9px;
}

#aero-tab a {
	display: block;
	padding: 30px 22px;
	line-height: 20px;
	background-image: url('../images/aerostep-logo.png');
	background-position: 8px center;
	background-repeat: no-repeat;
	border-bottom: 1px solid #ab3e3b;
    border-radius: 9px 0 0 9px;
}
.aero-app #aero-tab a:hover {
    background-color: inherit!important;
}


/* Content Tabs */
.aero-admin-wrapper ul.aero-tab, ul.aero-tab li {
	margin:0;
	padding:0;
	list-style:none;
}
.aero-admin-wrapper ul.aero-tab {
    margin-bottom:2em;
}

.aero-admin-wrapper .aero-tab li {
    float:left;
}
.aero-admin-wrapper .aero-tab.aero-three li {
    width: 33%;
}
.aero-admin-wrapper .aero-tab.aero-two li {
    width: 50%;
}

.aero-admin-wrapper .aero-tab li a {
    padding: .5em 0em;
    border-left: 0;
    border-bottom: 3px solid #ccc;
    text-transform: uppercase;
    color:#666666;
    font-weight:600;
    font-size:0.95em;

}
.aero-admin-wrapper .aero-tab li a:hover, .aero-admin-wrapper .aero-tab li a.aero-tab-active {
    border-left: 0;
    border-bottom: 3px solid rgb(253, 165, 165);
    color:#333;
}

.aero-admin-wrapper .aero-tab li a.aero-tab-active {
    border-bottom: 3px solid rgb(219, 80, 82);
}
.aero-admin-wrapper .aero-tab-content {
    display:none;
}
.aero-admin-wrapper .aero-tab-content.aero-tab-active {
    display:block;
}

/*
* 	Tooltip Styles | .aero-tip
*/
.aero-tip {
	width:210px;
	background:#25303F;  draggable
	color:#fff;
	padding:25px;
	font-size:16px;
	position:absolute;
	top:300px;
	z-index: 999999999;
	box-sizing: content-box;
}
.aero-tip-body { font-size:15px; line-height: 1.4em; color:#fff; }

.aero-tip-title { font-size:18px; margin-bottom:15px; font-weight:400;}
.aero-tip .aero-tip-arrow { position:absolute; }
.aero-tip-bottom { margin-top:12px; }
.aero-tip-top { margin-bottom:12px;  }
.aero-tip-right { margin-left:12px; }
.aero-tip-left { margin-right:12px; }
.aero-tip-orphan { position:fixed; }

.arrow_box:after,
.arrow_box:before {
	bottom: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 19px;
	left: 50%;
	margin-left: -19px;
}
.arrow_box:before {
	border-color: rgba(113, 158, 206, 0);
	border-bottom-color: #719ECE;
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}


.aero-tip-bottom .aero-tip-arrow {
	top:-12px;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #25303F;
}

.aero-tip-top .aero-tip-arrow {
	top:auto;
	bottom:-12px!important;
	width: 0;
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-top: 15px solid #25303F;
}

.aero-tip-left .aero-tip-arrow {
	right:-12px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #25303F;
}

.aero-tip-right .aero-tip-arrow {
	left:-12px;
	width: 0;
	height: 0;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right:15px solid #25303F;
}

/**
*  Sizes | .aero-tip-x
*/
.aero-tip-med {
	width:300px;
}
.aero-tip-lrg {
	width:400px;
}
.aero-tip-auto {
	width:auto;
}

/**
* Share tooltip
*/
.aero-share-tip {
	background: #FCE087;
	position: fixed;
	top: 70px;
	right: 15px;
	z-index: 99999999999999999;
	width: auto;
	padding: 15px;
}
.aero-share-tip span {
	position:absolute;
	top:-10px;
	left:13px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 7.5px 10px 7.5px;
	border-color: transparent transparent #FCE087 transparent;
}
.aero-share-tip input {
	width: 166px;
	border: 0;
	background: #FFFDF6;
	border: 1px solid #FDD24A;
	line-height: 13px;
	font-size: 13px;
}

/*
* 	Tooltip Buttons | .aero-btn
*/
.aero-tip .aero-tip-nav [class^="aero-btn"] {
	float:right;
	background:#0599c3;
	color:#fff;
	font-size:12px;
	margin-top: 25px;
  	padding: 8px 12px;
	display:inline-block;
	transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s;
}
.aero-tip .aero-tip-nav .aero-btn-next, .aero-tip .aero-tip-nav .aero-btn-end{
	margin-left:1px;
}
.aero-tip .aero-tip-nav [class^="aero-btn"]:hover {
	background:#02445c;
}
a.aero-btn-prev {
    background: none!important;
    color: #697074!important;
}
a.aero-btn-prev:hover {
    color: #fff!important;
}

/*
*	Carousel
*/
.aero-carousel a.aero-left, .aero-carousel a.aero-right {
	width: 0;
	height: 0;
	border-style: solid;
	display:block;
	margin-top:45px;
	-webkit-transition : border .25s ease-out;
  	-moz-transition : border .25s ease-out;
  	-o-transition : border .25s ease-out;
  	transition : border .25s ease-out;
  	 -moz-transform: scale(.9999);
}

.aero-carousel a.aero-left {
	float:left;
	margin-left:30px;
	border-width: 13px 15px 13px 0;
	border-color: transparent #3a4450 transparent transparent;
}
.aero-carousel a.aero-right {
	float:right;
	margin-right:30px;
	border-width: 13px 0 13px 15px;
	border-color: transparent transparent transparent #3a4450;
}

.aero-carousel a.aero-left:hover {
	border-color: transparent #fff transparent transparent;
}
.aero-carousel a.aero-right:hover {
	border-color: transparent transparent transparent #fff;
}

.aero-carousel span.aero-pathway {
	display:block;
	color:#a7acb4;
	text-align:center;
	margin-bottom:15px;
}

/*
*	Avatar
*/
.aero-avatar {
    width: 110px !important;
    float: none !important;
    display: block;
    margin: 15px auto;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
}
.aero-avatar:before {
	content: "";
	position: absolute;
	left: 5px;
	right: 5px;
	bottom: 5px;
	top: 5px;
	border: 4px solid #fff;
	border-radius: 500px;
}
.aero-avatar {
  display: block;
  border-radius: 500px;
  white-space: nowrap;
}
.aero-avatar img {
  border-radius: 500px;
  width:100px;
  height:98px;
}

.aero-avatar span {
	display: block;
	position: absolute;
	top: 47px;
	left: 5px;
	font-size: 3em;
	text-align: center;
	width: 100px;
	font-weight: 600;
	color: #f59331;
}
.aero-avatar span::first-letter {
    color: #f06723;
}

/* ADMIN STUFF */
.aero-editing {
	position:relative;
	z-index:99999999999;
	background-image:none!important;
}
.aero-edit-active {
	border-color: transparent transparent transparent #eeeeee;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    height: 0;
    left: -15px;
    position: absolute;
    top: 10px;
    transform: scale(0.9999);
    width: 0;
}
.aero-editing a {
	color:#fff!important;
}
.aero-btn-picker, .aero-btn-create {
	display: block!important;
	text-align: left!important;
	padding: 15px 25px!Important;
	font-weight: 500!important;
}
.aero-picker {
	background:url(../images/transparent.png);
}

.aero-admin-wrapper {
	border-right:0;
	z-index:99999999999;
	right:260px;
	width:500px;
	background:#EEE;
	border-left:1px solid #E1E1E1;
}
.aero-admin-wrapper .aero-strip-menu {
	float:left;
	height:100%;
	background:#25303f;
}
.aero-admin-wrapper .aero-admin-body {
	height:100%;
	margin-left: 55px;
	overflow-y: auto;
	overflow-x:hidden;
}

.aero-admin-wrapper ul li, .aero-admin-wrapper ul {
	list-style:none;
	margin:0;
	padding:0;
}
.aero-app ul li {
	background-image:none!important;
}

/**
*	Menu Icons | aicon-
*/
.aero-admin-wrapper ul li a {
	display:block;
	padding:30px 15px;
	border-left:3px solid #25303f;
	padding-left:12px;
}
.aero-admin-wrapper ul li a:hover, .aero-admin-wrapper li.aero-menu-active a {
	border-left:3px solid #DB5052;
}
.aero-admin-wrapper ul li a span {
	display:block;
	width:20px;
	height:20px;
}
.aero-admin-wrapper .aero-strip-menu ul li {
	border-bottom: 2px solid #1A2330;
}
[class^="aicon"] span {
	background-image:url(../images/user-sprite.png);
	background-repeat:no-repeat;
	background-size:auto 300%;
}

a.aicon-basic span { background-position: -80px 0; }
a.aicon-style span { background-position: -100px 0; }
a.aicon-nav span { background-position: -140px 0; }
a.aicon-loc span { background-position: -20px 0; }
a.aicon-alert span { background-position: -120px 0; }
a.aicon-branch span { background-position: -160px 0; }
a.aicon-code span { background-position: -60px 0; }
a.aicon-rate span { background-position: -180px 0; }
a.aicon-path span { background-position: 0 0; }
a.aicon-role span { background-position: -40px 0; }

/* Active */
a.aicon-basic:hover span, .aero-menu-active a.aicon-basic span { background-position: -80px -40px; }
a.aicon-style:hover span, .aero-menu-active a.aicon-style span { background-position: -100px -40px; }
a.aicon-nav:hover span, .aero-menu-active a.aicon-nav span { background-position: -140px -40px; }
a.aicon-loc:hover span, .aero-menu-active a.aicon-loc span { background-position: -20px -40px; }
a.aicon-alert:hover span, .aero-menu-active a.aicon-alert span { background-position: -120px -40px; }
a.aicon-branch:hover span, .aero-menu-active a.aicon-branch span { background-position: -160px -40px; }
a.aicon-code:hover span, .aero-menu-active a.aicon-code span { background-position: -60px -40px; }
a.aicon-rate:hover span, .aero-menu-active a.aicon-rate span { background-position: -180px -40px; }
a.aicon-path:hover span, .aero-menu-active a.aicon-path span { background-position: 0 -40px; }
a.aicon-role:hover span, .aero-menu-active a.aicon-role span { background-position: -40px -40px; }

/**
*  Sidebar tip | .tip
*/
.aero-menu-tip {
	border-radius:9px;
	font-size:1.1em;
	font-weight:600;
	background: none repeat scroll 0 0 #5e696d;
    color: #fff;
    left: 70px;
    padding: 15px 20px;
    position: absolute;
    top: 200px;
    z-index: 1;
    line-height:1em;
}
.aero-menu-tip span {
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 5px 0;
	border-color: transparent #5E696D transparent transparent;
	position: absolute;
	left: -5px;
	top:19px;
	z-index:999999999;
}

.aero-admin-wrapper h1 {
	margin:0 0 10px 0;
	line-height:20px;
	font-size:18px;
	color:#DB5052;
	font-family:'Source Sans Pro';
	font-weight: 600;
}

.aero-loc-text {
	text-align: right;
    padding-right: 5px;
}
.aero-loc-text.aero-radio input {
	float: right;
}
.aero-loc-text span {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 700;
	color: #4D4D4D;
	line-height: 12px;
	padding-right: 10px;
}

.aero-admin-wrapper p {
	color:#9E9A9A;
	margin-bottom:30px;
}
.aero-section {
	display:none;
	padding: 20px;
}
.aero-section.open {
	display:block;
}
.aero-section a.aero-btn-red {
	margin-right:10px!important;
}

.aero-section label {
	display: block;
	color: #4d4d4d;
	padding-bottom: 0.5em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
}
.aero-section input[type=text], .aero-section textarea, .aero-section select {
	background:#fff;
	border: 1px solid #E1E1E1;
	font-size: 15px;
	font-weight: 400;
	font-family: 'Source Sans Pro';
	line-height: 30px;
	margin-bottom: 20px;
	padding: 5px 10px;
	width: 380px;
	text-align:left!important;
	box-shadow:inset 0 1px 0 rgba(0,0,0,0.1);
	color:#1a74ba;
	outline:none;
	line-height: 30px;
	-webkit-appearance: menu;
}
.aero-section textarea {
    line-height: 20px!important;
    padding-top: 10px;
}

.aero-del-nav {
	font-weight: bold!important;
	display: inline-block;
	color: #f16a5c;
	margin-left: 10px!important;
	font-size: 18px!important;
}

.aero-radio { margin-bottom:20px; }
.aero-radio input { float:none; }
.aero-section select { height:40px; width:400px; }
.aero-fld-sml { width:120px!important;}
.aero-move { display:inline-block; width:220px; }
.aero-strip-menu a { -webkit-box-sizing:content-box; box-sizing: content-box; -moz-box-sizing: content-box; background-image: none;}
.aero-stop span {   text-align: center!important;   }

/**
*	Step/Guide Tools | .aero-item-tools
*/
.aero-blanket {
	position:absolute;
	z-index:9999999999999;
	background:#25303f;
	width:310px;
	height:100%;
}
.aero-sidebar .aero-item-tools {
	float: none;
	position: absolute;
	top: 2px;
	right: -5px;
}
.aero-sidebar .aero-item-tools a {
	background:#25303f;
	display:block;
	color:#B2B6BB;
	padding:14px 5px!important;
	float: right;
}

.aero-body .aero-add-step { position:relative; }
.aero-sidebar .aero-add-step a { padding-left:40px!important; }
.aero-sidebar .aero-add-step i {
	position: absolute;
	font-size: 14px;
	top: 18px;
	left: 24px;
	color: #fff;
	font-weight: 100;
}
.aero-host span,.aero-host input { float:left; }
.aero-host span {
	  color: #909090;
	  padding: 11px;
	  border: 1px solid #E1E1E1;
	  box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}
.aero-host input { width:200px!important; }
.aero-assoc-select { width:70%!important; margin-right:15px; }
.aero-pathways-search .aero-btn-grey, .aero-roles-search .aero-btn-grey { width:20%; }
.aero-assoc { margin-bottom:20px; border-top:5px solid #aaa; }
.aero-assoc li span {
	display: block;
	background: #fff;
	padding: 0 15px;
	line-height: 39px;
	font-size: 14px;
}
.aero-assoc li a {
	float:right;
}
.aero-assoc a.aero-btn-grey {
	padding:11px 15px!important;
}

/**
*  Errors & help
*/
.aero-error-box ul, .aero-error-box li { padding:0; margin:0; }
.aero-error-box {
	background: #DB5052;
	color: #fff;
	padding: 10px;
	margin-bottom: 1em;
	margin-top: -0.5em;
}
.aero-require-error {
	border: 1px solid #d7444e!important
}

.aero-help-block {
    color: #A4A0A0;
    padding-bottom: 26px;
}
.aero-admin-wrapper .aero-help-block li a {
    padding: 0;
    border: 0;
    color: #2078B3;
}
.aero-admin-wrapper .aero-help-block li a:hover { border:0; }
.aero-disabled {
    background: #EEE!important;
}

.aero-progress {
	width: 80px;
	float:left;
	margin-top:1.5em;
	margin-bottom:1em;
}
.aero-progress .aero-needle {
	background:#384048;
	padding:2px;
	display:block;
}
.aero-progress .aero-needle span {
	background:#00bee9;
	display:block;
	height:2px;
}
.aero-progress span {
	font-size:12px; color:#767b7e;
}

.aero-not {
    position: absolute;
    top: -10px;
    left: -10px;
    padding: 4px;
    display: block;
    background: #167FA3;
    border-radius: 30px;
    font-size: 9px;
    color: #fff;
    font-weight: bold!important;
    width: 20px;
    height: 20px;
    line-height: 10px;
    text-align: center;
    border: 1px solid #FDFCFC;
}

/**
*  Modal window
*/
.aero-backdrop {
	background: none repeat scroll 0 0 #333;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    zoom: 1;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	z-index:999999999999;
}
.aero-modal {
	position:fixed;
	z-index:99999999999999;
	background:#fff;
	width:300px;
	top:-500px;
	left:40%;
	border-radius: 9px;
}
.aero-modal-title {
	padding: 20px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 1.2em;
	border-bottom: 2px solid #ECECEC;
}
.aero-modal .switch.round {
	margin: 0 0.5em 1em 0.5em;
}
.aero-modal .check label { font-weight:300; padding-top:3px;}
.aero-modal-body { padding: 20px;line-height: 1.4em;font-size: 16px; }
.aero-modal-foot { border-top: 2px solid #ECECEC; padding:20px; text-align: right; }
.aero-modal-foot a.button { padding:1em; text-transform:uppercase; font-weight:600!important; }
.aero-modal-foot a.button.small { margin:0!important; width:auto; height:auto; }
.aero-modal-foot .aero-btn-red, .aero-modal-foot .aero-btn-grey { padding: 0.8em 1em!important; text-transform: uppercase;}
.aero-branch a { color:#8893A3; font-size:16px; display:block; margin-top:1.5em; padding:1em; border:1px solid #384557; }
.aero-branch a:hover { color:#fff; border:1px solid #9098A3; }

.aero-modal-foot button.disabled.secondary:hover, .aero-modal-foot button.disabled.secondary:focus, .aero-modal-foot button[disabled].secondary:hover, .aero-modal-foot button[disabled].secondary:focus, .aero-modal-foot .button.disabled.secondary:hover, .aero-modal-foot .button.disabled.secondary:focus, .aero-modal-foot .button[disabled].secondary:hover, .aero-modal-foot .button[disabled].secondary:focus,
.aero-modal-foot button.disabled.secondary, .aero-modal-foot button[disabled].secondary, .aero-modal-foot .button.disabled.secondary, .aero-modal-foot .button[disabled].secondary {
	color: #CACACA;
	background: #F5F5F5;
}
.aero-modal-foot a.button.secondary { background: #ECECEC; color:rgb(75, 117, 131);  }
.aero-modal-foot a.button.secondary:hover, .button.secondary:focus { background: #cadadf; color:rgb(83, 110, 119); }
.aero-modal-foot a.button.secondary:active { background:#a1bbc4; }

.aero-modal-foot .button.success { background:#02baf2; color:#fff; }
.aero-modal-foot .button.success:hover, .aero-modal-foot .button.success:focus { background:#0fc7ff; }
.aero-modal-foot .button.success:active { background:#009dcd; }

.aero-modal-body ul li { list-style: circle; list-style-position: inside; margin-left: 15px; padding-bottom: 5px;}
.aero-modal-body ul { padding-top: 15px;  margin: 0;  padding-left: 0; }
.aero-loc-find {
	width:49%;
	float:left;
}
.aero-loc-find select {
	width:90%;
}
.aero-cond a {
    text-align:right;
    display:inline-block;
    color:#009dcd;
    font-weight: 600;
}

/* Auto Start */
.auto-wrapper > div {
    width: 190px;
    display: block;
    float: left;
    border-left: 1px dotted #ccc;
    padding-left:20px;
}

.auto-wrapper > div:first-child {
    border:0; padding:0;
}

/**
*   Quizing | .quiz
*/
.aero-tab-content .aero-quiz-search input {
    width: 305px!important;
}
.aero-tab-content .aero-quiz-search a {
    padding: 11px!important;
}
.aero-tab-content a.aero-answer-delete {
    border-left: 1px solid #ccc;
}
.aero-tab-content a.aero-answer-delete:hover {
    border-left: 1px solid #ccc;
}
.aero-answer-list i {
    width:15px;
}
.aero-checked {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s;
}
.aero-checked, .aero-checked:hover {
    background:#B4F5BC;
}

/* Front */
.aero-tip-draggable {
    background-image: url('../images/draggable.png');
    padding: 4px;
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    position: relative;
    top: 24px;
    margin: 0 -25px;
    cursor: move;
}
.aero-quiz { margin-top:10px;}
.aero-quiz ul, .aero-quiz ul li { margin:0; padding:0; list-style: none; }
.aero-quiz ul li { float:left; line-height: 25px; width: 100%;}
.aero-quiz li input { float:right; margin:7px 15px 0 0; }
.aero-quiz.aero-quiz-two ul li { width: 50%;}
.aero-quiz.aero-quiz-three ul li { width: 33.33%;}
.aero-quiz.aero-quiz-four ul li { width: 25%; }
.aero-tip-body iframe { margin-top:20px; display:block;}
.aero-tip-med .aero-tip-body iframe { height:200px; }
.aero-tip-lrg .aero-tip-body iframe { height:250px; }
.aero-section textarea.aero_embed_val { height: 80px;line-height: 1.2em; }

/**
*   Notification | .aero-not-x
*/
.aero-msg {
    padding: 15px 25px;
    margin: -25px;
    margin-bottom: 15px;
	font-weight:600;
}
.aero-msg.aero-success {
    background-color: #65DB50;
}
.aero-msg.aero-warn {
    background-color: #DB8A50;
}
.aero-msg.aero-err {
    background-color: #DB5052;
}
.aero-msg.aero-err div {
    padding-top: 10px;
    font-size: 12px;
    line-height: 13px;
}
.aero-msg i {
	margin-right:15px;
}

/**
*	Spotlight | .overlay
*/
.ae-overlay {
    position: absolute;
    z-index: 999999;
    background-color: #000;
    opacity: 0;
    background: -moz-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -webkit-gradient(radial,center center,0px,center center,100%,color-stop(0%,rgba(0,0,0,0.4)),color-stop(100%,rgba(0,0,0,0.9)));
    background: -webkit-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -o-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: -ms-radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    background: radial-gradient(center,ellipse cover,rgba(0,0,0,0.4) 0,rgba(0,0,0,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66000000',endColorstr='#e6000000',GradientType=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ae-fixParent {
    z-index: auto !important;
    opacity: 1.0 !important;
    position: absolute !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -o-transform: none !important;
    transform: none !important;
}

.ae-showElement,
tr.ae-showElement > td,
tr.ae-showElement > th {
    z-index: 9999999 !important;
}

.ae-relativePosition,
tr.ae-showElement > td,
tr.ae-showElement > th {
    position: relative;
}

.ae-helperLayer {
    position: absolute;
    z-index: 9999998;
    background-color: #FFF;
    background-color: rgba(255,255,255,.9);
    border: 1px solid #777;
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 4px;
    box-shadow: 0 2px 15px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.ae-helperLayer *,
.ae-helperLayer *:before,
.ae-helperLayer *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -ms-box-sizing: content-box;
    -o-box-sizing: content-box;
    box-sizing: content-box;
}

.aero-here {
    position:absolute;
    z-index:99999999;
    display: inline-block;
    font-size: 0px;
    cursor: pointer;
    margin: 15px 30px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgb(245, 147, 49);
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}

.aero-here:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content: '';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.aero-here:before {
    font-family: 'ecoicon';
    speak: none;
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

.aero-here:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px red;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}

.aero-here:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #fff, 0 0 0 10px rgba(255,255,255,0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #F59331, 0 0 0 10px rgba(255,255,255,0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #F59331, 0 0 0 10px rgba(255,255,255,0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

/**
*	Utils
*/
.aerou-right {
	float:right;
}
.aerou-left {
	float:left;
}

/* ESP */
.aero-esp {
    background-image: url('../images/esp-menu-bg.png');
    height: 41px;
    width: 100%;
}
.aero-esp, .aero-esp a {
    outline:none;
    color: lightgrey;
    font-size: 11px;
    line-height: 11px;
    font-weight: 600;
}
.aero-esp img {
    margin-left:30px;
    margin-right:33px;
    padding-top:3px;
    width: 40px;
    height: auto;
}
#ESPTranslators {
    padding-top: 10px;
}

ul.trumbowyg-button-pane button {
    padding: 0!important;
}
