@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:100,400,300,600,700);

/*
* 	Fonts | .aero-tip
*/
body, html, .jumbo-wrapper {
	background:#3A3A3A;
}
.error {
	padding: 10px;
	background: rgb(255, 77, 77);
    border:0;
	color: #fff;
	font-weight: 600;
	margin-bottom: 1em;
}
.success {
    padding: 10px;
    border: 0;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1em;
}
.info {
    padding: 10px;
    border: 0;
    color: #fff;
    font-weight: 600;
    margin-bottom: 1em;
}

* {
	font-family:'Source Sans Pro';
	outline:none;
	border:0;
	font-size:14px;
	line-height:18px;
	padding:0;
	margin:0;
	font-weight:500;
	text-align:left;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-transform: inherit!important;
	text-decoration:none;
}
.jumbo {
	background-size: cover;
	background-position: top right;
	background-color: #aaa;
	height:100%;
	width:115%;
	position:relative;
	top:0;
	right:0;
}

.btn, .btn:visited, .btn:active {
    display: block;
	text-align: center;
	background: #02baf2;
	padding: 0.7em;
	color: #fff;
	transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	font-weight: 900;
	-webkit-transition: all .25s;
}
.btn:hover {
	background:#29CDFF;
	color:#fff;
}

#login {
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	z-index:9;
}

h1 { font-family:'Source Sans Pro'; }
.jumbo-wrapper { height:100%; width:100%; overflow:hidden; }
.center { margin:0 auto;  padding:0;}
.center p { text-align:center; margin-bottom: 0.5em; margin-top: 1em; }
.center p strong { font-weight:900; font-size:1em;}
.form { padding:2em; background:#e1eef3;}
.panel { background:#fff; margin-top:150px; margin-bottom:0; }
.btn:hover { background:#60BAF2; color:#fff; }

.wrapper { position:relative; }

.reset-password { text-align:right; padding-top:10px;}
.reset-password > a { text-decoration:underline; font-size:12px; color:#333; display:block; text-align:center; }
.reset-password > a:hover { text-decoration:none; }
.email-form { display:none; }
.email-form .btn { width:50%; float:left; }
.email-form .reset-cnl, .email-form .reset-cnl:active, .email-form .reset-cnl:visited { background:rgb(17, 91, 110); }
.email-form .reset-cnl:hover { background:rgb(49, 128, 148); }



