<form>
	<label><%= AeroStep.lang.url %></label>
	<input name="url" type="text" class="aero-required" placeholder="<%= AeroStep.lang.eurl %>" value="<%= blacklist.url %>">

	<label><%= AeroStep.lang.desc%></label>
	<input name="description" type="text" placeholder="<%= AeroStep.lang.edesc %>" value="<%= blacklist.description %>">
	<div>
		<label><%= AeroStep.lang.matchpre %></label>
		<div class="check row">
			<div class="large-12">
				<label class="left"><%= AeroStep.lang.off %></label>
				<fieldset class="left tiny switch round">
					<input name="globPrefix" id="globPrefix" type="checkbox" <%= (blacklist.globPrefix) ? "checked" : "" %>>
					<label for="globPrefix"></label>
				</fieldset>
				<label class="left"><%= AeroStep.lang.on %></label>
			</div>
		</div>
	</div>
	<div>
		<label><%= AeroStep.lang.matchsuf %></label>
		<div class="check row">
			<div class="large-12">
				<label class="left"><%= AeroStep.lang.off %></label>
				<fieldset class="left tiny switch round">
					<input name="globSuffix" id="globSuffix" type="checkbox" <%= (blacklist.globSuffix) ? "checked" : "" %>>
					<label for="globSuffix"></label>
				</fieldset>
				<label class="left"><%= AeroStep.lang.on %></label>
			</div>
		</div>
	</div>
</form>
