<% var edit = <?= $acl['roles']['edit'] ? "true" : "false"; ?> %>
<% var create = <?= $acl['roles']['create']? "true" : "false"; ?> %>
<% var isCreator = (role.creator == Aero.constants.USERNAME) %>
<li class="card-wrapper app columns small-12 medium-3 large-2" data-id="<%= role.id %>">
  <div class="card">
    <div class="cardFace large-12  front">
		<div class="panel-wrapper clearfix">
			<div class="panel-bar large-12 columns">
				<div class="tools" style="float:right;">
					<% if(!role.noEdit && (edit || create && isCreator)){ %><a class="edit"><%= AeroStep.lang.edit %> <i class="ss-icon">&#x2699</i></a><% } else { %><a class="empty-btn"></a><% } %>
				</div>
			</div>
			<div class="panel-body clearfix">
				<a class="flip-button" href="role/<%= encodeURI(role.title) %>">
					<img src="/assets/images/role-boxed.png" />
					<span class="title"><%= role.title %></span>
					<span class="description"><%= role.description %></span>
				</a>
			</div>
			<div class="panel-buttons">
				<a class="green dark link-guide large-12 columns"><%= role.guides %> <%= AeroStep.lang.guides %></a>
			</div>
		</div>
    </div>
    <div class="cardFace large-12 columns back"><div class="panel-wrapper clearfix"><div class="large-12 columns"></div></div></div>
  </div>
</li>