<style type="text/css">@media print { #aeroStepbar, .aero-tip {  display:none!important}}</style>
<div id="aeroStepbar" class="aero-app aero-sidebar <% if(sidebar == 1){ %>open<% } %>">
	<div id="aero-tab"><a></a></div>
	<div class="aero-body">
		<div class="aero-guide-title"><%= g.title %>
			<% var url = (g.url) ? g.url : "" %>
			<span><a class="aero-share" data-link="<%= url + '#guideid=' + g.id %>"><i class="fa fa-external-link"></i> <%= AeroStep.lang.share %></a></span>
		</div>
		<? if($acl['steps']['create']){ ?><div class="aero-add-step"><a class="aero-btn-red aero-btn-picker"><i class="fa fa-plus"></i>&nbsp;&nbsp;<%= AeroStep.lang.stepa %></a></div><? } ?>
		<div class="aero-steps">
			<% if(AeroStep.admin && g.step.length == 0) { %><div class="aero-helper"><span class="aero-help-triangle"></span><%= AeroStep.lang.steph %></div><% } %>
			<ul>
				<% for(i in g.step){ if(g.step[i].title){ %>
					<li class="clearfix"><a><span><%= parseInt(i) + 1 %></span><span><%= g.step[i].title %></span></a></li>
				<% }} %>
			</ul>
		</div>
	</div>
	<div class="aero-foot"><a class="aero-btn-blue aero-stop"><span><%= AeroStep.lang.done %></span></a></div>
</div>
