<% var asSaveButton = '<a class="aero-btn-red aero-btn-save">' + AeroStep.lang.save + '</a>'; %>
<% var asCancelButton = '<a class="aero-btn-grey aero-cancel-edit">' + AeroStep.lang.cancel + '</a>'; %>
<% Aero.nav = model.nav; Aero.index = null; %>
<div class="aero-app aero-admin-wrapper clearfix aero-editing-step <%= (model.isAdd) ? 'aero-add-step':'' %>">
	<div class="aero-strip-menu">
		<ul>
			<li class="aero-menu-active"><a data-title="Basic Details" class="aicon-basic"><span></span></a></li>
			<li><a data-title="Styling" class="aicon-style"><span></span></a></li>
			<li><a data-title="Navigation" class="aicon-nav"><span></span></a></li>
			<li><a data-title="Location" class="aicon-loc"><span></span></a></li>
			<li><a data-title="Exceptions &amp; Validation" class="aicon-alert"><span></span></a></li>
			<li><a data-title="Branching" class="aicon-branch"><span></span></a></li>
			<li><a data-title="Custom code" class="aicon-code"><span></span></a></li>
		</ul>
	</div>
	<div class="aero-admin-body">
		<form id="editStepFrm">
			<input type="hidden" class="aero-step-index" value="<%= model.index %>" />
	    	<div id="aeroSection0" class="aero-section open">
		    	<h1><%= AeroStep.lang.contente %></h1>

				<ul class="aero-tab aero-three clearfix">
					<li><a class="aero-tab-active" href="#aero-tab-1">Content</a></li>
					<li><a href="#aero-tab-2">Rich Media</a></li>
					<li><a id="aero-section-quiz" href="#aero-tab-3">Quizzing</a></li>
				</ul>

				<!-- BASIC CONTENT -->
				<div id="aero-tab-1" class="aero-tab-content aero-tab-active">
					<p><%= AeroStep.lang.contentd %></p>

					<label><%= AeroStep.lang.title %></label>
					<input type="text" name="aero_title" class="aero-required" value="<%= model.title %>" />

					<label><%= AeroStep.lang.content %></label>
					<textarea id="aeroEditor" name="aero_body" style="height:150px"><%= model.body %></textarea>
				</div>

				<!-- RICH MEDIA TYPES -->
				<div id="aero-tab-2" class="aero-tab-content">
					<p><%= AeroStep.lang.contentd %></p>

                    <label>Youtube URL</label>
                    <input type="text" name="aero_youtube" value="<%= model.youtube %>" />

					<label>Embed</label>
					<textarea class="aero_embed_val" name="aero_embed"><%= model.embed %></textarea>
				</div>

				<!-- QUIZ -->
				<div id="aero-tab-3" class="aero-tab-content">
					<p><%= AeroStep.lang.quizd %></p>

                    <label><%= AeroStep.lang.chooselay %></label>
                    <select type="text" name="aero_quizsize">
                        <option value="" <%= (model.quizsize == "" ? "selected":"") %>>1 column (default)</option>
                        <option value="two" <%= (model.quizsize == "two" ? "selected":"") %>>2 column</option>
                        <option value="three" <%= (model.quizsize == "three" ? "selected":"") %>>3 column</option>
                        <option value="four" <%= (model.quizsize == "four" ? "selected":"") %>>4 column</option>
                    </select>

                    <!-- Answers -->
					<label><%= AeroStep.lang.answers %></label>
                    <p><%= AeroStep.lang.quizad %></p>

					<div class="aero-quiz-search clearfix">
						<a class="aero-btn-grey aero-answer-add aerou-right"><i class="fa fa-plus-circle"></i> <%= AeroStep.lang.add %></a>
						<input type="text" class="aero-answer" value="" />
					</div>

                    <div class="aero-assoc aero-answer-list">
						<ul>
							<% for(var j in model.answers) { if(!$q.isFunction(model.answers[j])) { %>
                                <%= Aero.view.step.admin.quiz.renderAnswer(model.answers[j], true) %>
                            <% }} %>
						</ul>
					</div>

					<label><%= AeroStep.lang.qerrmsg %></label>
                    <p><%= AeroStep.lang.qerrmsgd %></p>

					<textarea name="aero_errmsg"><%= model.errmsg %></textarea>
				</div>

				<div style="margin-top:15px;"><%= asSaveButton %><%= asCancelButton %></div>
			</div>
			<div id="aeroSection1" class="aero-section">
		    	<h1><%= AeroStep.lang.stylee %></h1>
		    	<p><%= AeroStep.lang.styled %></p>

				<label><%= AeroStep.lang.pos %></label>
				<select type="text" name="aero_position">
					<option value="bottom" <%= (model.position == "bottom" ? "selected":"") %>>Bottom (default)</option>
					<option value="top" <%= (model.position == "top" ? "selected":"") %>>Top</option>
					<option value="left" <%= (model.position == "left" ? "selected":"") %>>Left</option>
					<option value="right" <%= (model.position == "right" ? "selected":"") %>>Right</option>
					<option value="orphan" <%= (model.position == "orphan" ? "selected":"") %>>Orphan</option>
				</select>

				<label><%= AeroStep.lang.size %></label>
				<select type="text" name="aero_size">
					<option value="" <%= (model.size == "" ? "selected":"") %>>Small (default)</option>
					<option value="med" <%= (model.size == "med" ? "selected":"") %>>Medium</option>
					<option value="lrg" <%= (model.size == "lrg" ? "selected":"") %>>Large</option>
					<option value="auto" <%= (model.size == "auto" ? "selected":"") %>>Auto</option>
					<option value="custom" <%= (!isNaN(model.size) ? "selected":"") %>>Custom</option>
				</select>

				<div class="aero-custom-size" style="<%= isNaN(model.size) ? 'display:none' : '' %>">
					<label><%= AeroStep.lang.sizec %></label>
					<input type="text" name="aero_size_custom" value="<%= model.size %>" />
				</div>

				<label><%= AeroStep.lang.stitle %></label>
				<div class="aero-radio"><input type="checkbox" value="1" name="aero_showTitle" <%= model.showTitle ? "checked" : "" %> /></div>

				<label><%= AeroStep.lang.sprev %></label>
				<div class="aero-radio"><input type="checkbox" value="1" name="aero_multi" <%= model.multi ? "checked" : "" %> /></div>

				<label><%= AeroStep.lang.sbar %></label>
				<div class="aero-radio"><input type="checkbox" value="1" name="aero_sidebar" <%= model.sidebar ? "checked" : "" %> /></div>

				<label><%= AeroStep.lang.ctip %></label>
				<div class="aero-radio"><input type="checkbox" value="1" name="aero_contextual" <%= model.contextual ? "checked" : "" %> /></div>

				<label><%= AeroStep.lang.restrictd %></label>
                <div class="aero-radio"><input type="checkbox" value="1" name="aero_isRestrict" <%= model.isRestrict ? "checked" : "" %> /></div>

                <div class="aero-color-wrapper" style="<%= model.isRestrict ? '' : 'display:none' %>">
                    <label><%= AeroStep.lang.restrictc %></label>
                    <select name="aero_restrictColor">
                        <option value="">Transparent (default)</option>
                        <option <%= model.restrictColor == '#DB5052' ? 'selected="selected"' :'' %> value="#DB5052">Red</option>
                        <option <%= model.restrictColor == '#D8EA37' ? 'selected="selected"' :'' %> value="#D8EA37">Yellow</option>
                        <option <%= model.restrictColor == '#3BEA37' ? 'selected="selected"' :'' %> value="#3BEA37">Green</option>
                        <option <%= model.restrictColor == '#378BEA' ? 'selected="selected"' :'' %> value="#378BEA">Blue</option>
                        <option <%= model.restrictColor == '#000' ? 'selected="selected"' :'' %> value="#000">Black</option>
                    </select>
                </div>

                <div><%= asSaveButton %><%= asCancelButton %></div>
			</div>

			<div id="aeroSection2" class="aero-section">
		    	<h1><%= AeroStep.lang.nave %></h1>
		    	<p><%= AeroStep.lang.navd %></p>

				<label><span class="aero-move"><%= AeroStep.lang.move %></span> <%= AeroStep.lang.moveto %></label>
				<div class="aero-nav-wrapper">

					<%  if(!model.nav || model.nav.length == 0) model.nav = [{ "": -1 }];
						for(j in model.nav){ if(typeof model.nav[j] != "function"){
						%>
						<div class="aero-nav-item">
							<select class="aero_nav_when" style="width:200px;">
								<option value="next">Next is clicked</option>
								<option value="click" <%= j== "click" ? "selected" : "" %>>Element is clicked</option>
								<option value="mousedown" <%= j== "mousedown" ? "selected" : "" %>>Item is dragged</option>
								<option value="hover" <%= j == "hover" ? "selected" : "" %>>Hover over element</option>
								<option value="blur"  <%= j == "blur" ? "selected" : "" %>>Keyboard input finished</option>
								<option value="unload" <%= j == "unload" ? "selected" : "" %>>Page changed or refreshed</option>
								<option value="observe" <%= j == "observe" ? "selected" : "" %>>Next item visible</option>
							</select>
							<select class="aero_nav_to" style="width:170px;">
								<option value="-1">Next Step (default)</option>
								<% for(var i = 0; i < Aero.tip._guide.step.length + 1; i++){
									var d = "";
									var s = "";
									if(model.index != i){
										if(model.nav[j] == i) s = "selected";
								%>
									<option value="<%= i %>" <%= s %>>Step <%= i + 1 %></option>
								<% }} %>
							</select>
						</div>
					<% }} %>
				</div>

				<a class="aero-btn-grey aero-add-nav"><i class="fa fa-plus"></i> <%= AeroStep.lang.addm %></a>
		    	<p style="margin-bottom:20px; margin-top:30px;"><%= AeroStep.lang.buttonc %></p>

				<label><%= AeroStep.lang.hide %></label>
				<select type="text" name="aero_hide">
					<option value="" <%= (model.position == "top" ? "selected":"") %>>None (default)</option>
					<option value="noNext" <%= (model.noNext ? "selected":"") %>>Next button</option>
					<option value="noPrev" <%= (model.noPrev ? "selected":"") %>>Previous button</option>
					<option value="noNav" <%= (model.noNav ? "selected":"") %>>All buttons</option>
				</select>
				<div><%= asSaveButton %><%= asCancelButton %></div>
			</div>
			<div id="aeroSection3" class="aero-section">
		    	<h1><%= AeroStep.lang.loce %></h1>
		    	<p><%= AeroStep.lang.locd %></p>

				<label><%= AeroStep.lang.loc %></label>
				<input type="text" name="aero_loc" value="<%= model.loc %>" />

				<div class="aero-loc-text aero-radio"><input type="checkbox" value="1" name="aero_locText" <%= model.locText ? "checked" : "" %> /> <span><%= AeroStep.lang.uset %></span></div>

				<div class="clearfix">
					<div class="aero-loc-find">
						<label><%= AeroStep.lang.pause %></label>
						<select type="text" name="aero_pause">
							<option value=""><%= AeroStep.lang.dd %></option>
							<% for(i = 1; i <= 10; i++){ var p = i / 2; %>
								<option value="<%= (i == 0) ? '' : p %>" <%= (model.pause == p) ? 'selected' : '' %>><%= AeroStep.lang.wf %> <%= p %> <%= AeroStep.lang.seconds %></option>
							<% } %>
						</select>
					</div>

					<div class="aero-loc-find">
						<label><%= AeroStep.lang.find %></label>
						<select type="text" name="aero_tries">
							<option value=""><%= AeroStep.lang.ra %></option>
							<% for(i = 1; i <= 30; i++){ %>
								<option value="<%= (i == 0) ? '' : i %>" <%= (model.tries == i) ? 'selected' : '' %>><%= AeroStep.lang.ut %> <%= i %> <%= AeroStep.lang.seconds %></option>
							<% } %>
						</select>
					</div>
				</div>

				<h1 style="margin-top:15px;"><%= AeroStep.lang.url %></h1>
		    	<p style="margin-bottom:15px;"><%= AeroStep.lang.urls %></p>

				<div class="aero-host clearfix">
					<span><%= Aero.host %></span><input type="text" name="aero_url" value="<%= model.url %>" />
				</div>

				<label><%= AeroStep.lang.urlv %></label>
				<select type="text" name="aero_noUrl">
					<option value="" <%= (model.noUrl == "" ? "selected":"") %>>Whole URL (default)</option>
					<option value="anc" <%= (model.noUrl == "anc" ? "selected":"") %>>Without Anchors (example.com/#something)</option>
					<option value="par" <%= (model.noUrl == "par" ? "selected":"") %>>Without Parameters (example.com?key=value)</option>
					<option value="all" <%= (model.noUrl == "all" ? "selected":"") %>>Ignore URL Entirely</option>
				</select>
				<div><%= asSaveButton %><%= asCancelButton %></div>
			</div>
			<div id="aeroSection4" class="aero-section">
		    	<h1><%= AeroStep.lang.exce %></h1>

                <ul class="aero-tab aero-two clearfix">
                    <li><a class="aero-tab-active" href="#aero-tab-1"><%= AeroStep.lang.exceptions %></a></li>
                    <li><a href="#aero-tab-2"><%= AeroStep.lang.validation %></a></li>
                </ul>

                <!-- EXCEPTIONS -->
                <div id="aero-tab-1" class="aero-tab-content aero-tab-active">
                    <p><%= AeroStep.lang.excd %></p>

                    <!-- FINDING EXCEPTIONS -->
                    <label><%= AeroStep.lang.excef %></label>
                    <select type="text" name="aero_miss">
                        <option value="" <%= (!model.miss ? "selected" : "") %>>Alert (default)</option>
                        <option value="skip" <%= (model.miss == "skip" ? "selected":"") %>>Skip step</option>
                        <option value="skipto" <%= (model.miss == "skipto" ? "selected":"") %>>Skip to step...</option>
                        <option value="back" <%= (model.miss == "back" ? "selected":"") %>>Move back to previous step</option>
                        <option value="alert" <%= (model.miss == "alert" ? "selected":"") %>>Display a message</option>
						<option value="ignore" <%= (model.miss == "ignore" ? "selected":"") %>>No Nothing</option>
                    </select>

                    <div class="aero-skip-edit" style="<%= (model.miss != "skipto") ? 'display:none' : '' %>">
                        <p style="margin-bottom:20px; margin-top:0px;"><%= AeroStep.lang.skiptom %></p>

                        <label><%= AeroStep.lang.stepn %></label>
                        <select name="aero_skipto" style="width:170px;">
                            <% for(var i = 0; i < Aero.tip._guide.step.length + 1; i++){
                            var d = "";
                            var s = "";
                            if(model.index != i){
                            if(model.skipto && parseInt(model.skipto) == i) s = "selected";
                            %>
                            <option value="<%= i %>" <%= s %>>Step <%= i + 1 %></option>
                            <% }} %>
                        </select>
                    </div>

                    <div class="aero-alert-edit" style="<%= (model.miss != "alert") ? 'display:none' : '' %>">
                        <p style="margin-bottom:20px; margin-top:0px;"><%= AeroStep.lang.alertm %></p>

                        <label><%= AeroStep.lang.title %></label>
                        <input type="text" name="aero_alert" value="<%= model.alert %>" />

                        <label><%= AeroStep.lang.content %></label>
                        <textarea name="aero_alertContent"><%= model.alertContent %></textarea>
                    </div>

                    <!-- LOST EXCEPTIONS -->
                    <p><%= AeroStep.lang.exceld %></p>

					<label><%= AeroStep.lang.excel %></label>
					<select type="text" name="aero_loss">
						<option value="" <%= (!model.loss ? "selected" : "") %>>Alert</option>
						<option value="skip" <%= (model.loss == "skip" ? "selected":"") %>>Skip step</option>
						<option value="skipto" <%= (model.loss == "skipto" ? "selected":"") %>>Skip to step...</option>
						<option value="back" <%= (model.loss == "back" ? "selected":"") %>>Move back to previous step</option>
						<option value="alert" <%= (model.loss == "alert" ? "selected":"") %>>Display a message</option>
						<option value="ignore" <%= (model.loss == "ignore" ? "selected":"") %>>No Nothing (default)</option>
					</select>

					<div class="aero-loss-skip-edit" style="<%= (model.loss != "skipto") ? 'display:none' : '' %>">
						<p style="margin-bottom:20px; margin-top:0px;"><%= AeroStep.lang.skiptom %></p>

						<label><%= AeroStep.lang.stepn %></label>
						<select name="aero_lossskipto" style="width:170px;">
							<% for(var i = 0; i < Aero.tip._guide.step.length + 1; i++){
							var d = "";
							var s = "";
							if(model.index != i){
							if(model.skipto && parseInt(model.skipto) == i) s = "selected";
							%>
							<option value="<%= i %>" <%= s %>>Step <%= i + 1 %></option>
							<% }} %>
						</select>
					</div>

					<div class="aero-loss-alert-edit" style="<%= (model.loss != "alert") ? 'display:none' : '' %>">
						<p style="margin-bottom:20px; margin-top:0px;"><%= AeroStep.lang.alertm %></p>

						<label><%= AeroStep.lang.title %></label>
						<input type="text" name="aero_lossalert" value="<%= model.lossalert %>" />

						<label><%= AeroStep.lang.content %></label>
						<textarea name="aero_lossalertContent"><%= model.lossalertContent %></textarea>
					</div>
                </div>
                <div id="aero-tab-2" class="aero-tab-content">
                    <p><%= AeroStep.lang.vald %></p>

                    <label><%= AeroStep.lang.mask %></label>
                    <input type="text" name="aero_mask" value="<%= model.mask %>" />

                    <div class="aero-help-block">
                        <ul>
                            <li><%= AeroStep.lang.val1 %></li>
                            <li><%= AeroStep.lang.val2 %></li>
                            <li><%= AeroStep.lang.val3 %></li>
                            <li><a target="_blank" href="http://digitalbush.com/projects/masked-input-plugin"><%= AeroStep.lang.val4 %></a></li>
                        </ul>
                    </div>
                </div>

				<div><%= asSaveButton %><%= asCancelButton %></div>
			</div>
			<div id="aeroSection5" class="aero-section">
				<h1><%= AeroStep.lang.branch %></h1>
		    	<p><%= AeroStep.lang.branchd %></p>

				<label><%= AeroStep.lang.bt %></label>
				<select id="aeroBranch" type="text" multiple>
					<%
                    var s = "";
					var ls = localStorage.getItem('aero:guides');
					var guides = JSON.parse(ls);
					for(var i = 0; i < guides.length; i++){

                    if(guides[i]){
                        if($q.isArray(model.branch)){
                            s = ($q.inArray(guides[i].id, model.branch) !== -1) ? 'selected="true"' : '';
                        }else{
                            s = (guides[i].id == model.branch) ? 'selected="true"' : '';
                        }
					 %>
						<option value="<%= guides[i].id %>" <%= s %>><%= guides[i].title %></option>
					<% }} %>
				</select>

				<div class="aero-branch-step" style="<%= (model.branch) ? '' : 'display:none' %>">
					<p style="margin-bottom:20px; margin-top:15px;"><%= AeroStep.lang.bre %></p>
					<label><%= AeroStep.lang.br %></label>
					<select type="text" name="aero_return">
						<option value="" <%= (!model.return ? "selected" : "") %>>Don't return (default)</option>
						<% for(var i = 0; i < Aero.tip._guide.step.length + 1; i++){
							var s = (model.return == i) ? "selected" : ""; %>
							<option value="<%= i %>" <%= s %>>Step <%= i + 1 %></option>
						<% } %>
					</select>
				</div>

				<div><%= asSaveButton %><%= asCancelButton %></div>
			</div>
			<div id="aeroSection6" class="aero-section">
		    	<h1><%= AeroStep.lang.codee %></h1>

                <ul class="aero-tab aero-two clearfix">
                    <li><a class="aero-tab-active" href="#aero-tab-1"><%= AeroStep.lang.before %></a></li>
                    <li><a href="#aero-tab-2"><%= AeroStep.lang.after %></a></li>
                </ul>

                <!-- BASIC CONTENT -->
                <div id="aero-tab-1" class="aero-tab-content aero-tab-active">
                    <p><%= AeroStep.lang.coded %></p>

                    <label><%= AeroStep.lang.bs %></label>
                    <textarea name="aero_beforeCode" style="height:150px"><%= model.beforeCode %></textarea>

                    <label><%= AeroStep.lang.bh %></label>
                    <textarea name="aero_afterCode" style="height:150px"><%= model.afterCode %></textarea>
                </div>

                <!-- BASIC CONTENT -->
                <div id="aero-tab-2" class="aero-tab-content">
                    <p><%= AeroStep.lang.coded %></p>

                    <label><%= AeroStep.lang.os %></label>
                    <textarea name="aero_onCode" style="height:150px"><%= model.onCode %></textarea>

                    <label><%= AeroStep.lang.oh %></label>
                    <textarea name="aero_offCode" style="height:150px"><%= model.offCode %></textarea>
                </div>

				<div><%= asSaveButton %><%= asCancelButton %></div>
			</div>
		</form>
	</div>
</div>
